header {
    display: flex;
    height: 6em;
    background-color: black;
    align-content: center;
}

body {
    background: linear-gradient(#FEFEFE, #888888)
}

#Inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
    padding: 0.1em;
    margin: 8em auto 5em auto;
    line-height: 2;
    font-size: 1.8em;
}


.cabecalho a {
    padding: 1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    font-size: 1em;

}

.cabecalho ul {
    display: flex;
    justify-content: center;
    font-size: 1em;
    align-items: center;

}

.cabecalhoNome {
    margin: 1em 3em 1em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#sobremim h2 {
    display: flex;
    margin-top: 1em;
    margin-left: auto;
    margin-bottom: 2em;
    justify-content: center;
    font-size: 2em;
    line-height: 1.5;
    clear: left;
}

#sobremim h3 {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.5;
    width: 60%;
    clear: left;
}

#carreira h2 {
    display: flex;
    font-size: 2em;
    margin: 4em auto 1.8em auto;
    justify-content: center;
}

.sobretrabalho {
    padding: auto;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    margin: 2em auto 2em auto;
    width: 60%;
    clear: left;
    text-align: justify;
    line-height: 1.5;
}

.sobretrabalho a {
    text-decoration: none;
    font-weight: bold;
    color: black;

}

.sobretrabalho a:hover {
    transition: 1s;
    text-decoration: underline;
    font-size: 1.2em;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}

footer p {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#contato {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 1.5;
    font-size: 1.5em;
    width: 60%;
    margin: 6em auto;
}

.informaçõesContato {
    display: flex;
    margin: 1em auto 1em auto;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}